@import "variables";
@import "~bulma";
@import "overrides";

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../hero_bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FEFEFE;
}

.wrapper {
  padding: 5rem;
  padding-top: 10rem;
  padding-bottom: 0;
}

.hero .subtitle {
  width: 700px;
}

.mockup {
  height: 90vh;
  margin-top: -23rem;
}

.bb-section {
  margin-top: 5rem;
}

.signup {
  width: 400px;
}

.signup-img {
  margin-top: -15rem;
}

.live-convo .container {
  min-width: 100%;
}

.box {
  width: 500px;
}

.footer {
  background-color: #FEFEFE;
  text-align: center;
  height: 50px;
}

.footer a:link, .footer a:visited {
  color: #fff;
}

.content strong {
  color: #3891AE;
}

.loading {
  text-align: center;
  width: 500px;
}

.loading .button {
  border: 0px;
}

.button-shadow {
  box-shadow: 3px 5px 0px 1px #333;
}
